@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

.heroImage{
    background-image: url(./Images/Hero-Banner.png);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    background-position: center top;
    margin-bottom: 0px;
   
   /* background-origin: content-box; */
    /* background-attachment: fixed; */
    /* background-position:  center bottom; */
    
}

.rightContent{
    float:right;
    text-align: right;
    padding-right: 50px;
    padding-top: 20px;
    width: 50%;
    color: white;
    /* margin-top: 10%; */
}

.rightContent{
    padding-top: 120px;
    padding-right: 80px;
}

.leftContent{
    display: inline-block;
    width: 50%;
    padding-left: 80px;
    padding-top: 220px;
}

.cardContent{
    position: relative;
    margin-top: -345px;
    margin-left:80px ;
     margin-right:80px ;
}

.card-img{
 padding-top: 20px;
 padding-bottom: 20px;
}

.cardText{
    color: black;
    text-align: left;
    padding:10px 30px;
    margin: 250px 10px 10px 10px;
}